body {
    background-image: url(media/staranimated.gif);
    color: white;
}

.arial { font-family: Arial; }

.goldman { font-family: "Goldman", cursive;}

.socials {
  /*text-indent: 7em;*/
}

.centered {
  text-align: center;
}

a {
 color: white;
 font-family: arial;
}

a:hover {
 color: white;
}

a:visited {
 color: white;
}

.border {
  position: relative;
  width: 50%;
  border-style: solid;
  border-width: thick;
  border-color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

#Greenie {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
}

.headerflex {
  width: 100%;
  display: flex;
  padding: 4em;
}

#Sonic {
  position: absolute;
  bottom: 0;
  padding: 10px;
  margin: 0;
}

#Best {
  height: 35px;
  width: auto;
}

#Sonic {
  position: absolute; /* Basically means "fuck you, I do what I want" */
  bottom: 0;
  padding: 20px;
  margin: 0;
}

#Best {
  height: 35px;
  width: auto;
}
